Documentation:

1.To run this project, clone or download this project on your computer.
2.After downoloading the project, open the python software if you installed already 
  otherwise download python software and install on your computer.
3.Navigate to the project folder to run this project using command as mentioned below.
  	$ cd source
4.After navigation of project folder path, click on program files and open the files on 
  your workspace and save it.
5.To run this project ,Run main.py to execute the program using command as mentioned below:
	$ python main.py
6.After executing the program you can follow the instructions as displayed on your computer 
 and while executing the program you need to enter valid details then only you can get the 
 correct output




